body{
    background-color: #F9F2F5
}

.Singin-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuerpo{
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
}

.cuerpo img{
    width: 40%;
}

.foot{
    position: fixed;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    right: 0;
}

.foot img{
    width: 10%;
}