.FormularioRegistro{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #B4A4FC16;
    width: 60%;
    height: 40vh;
    border-radius: 25px;
}

h1,b{
    color: #1B2B43;
}

input{
    font-weight: bold;
    color: rgba(27, 43, 67, 0.5);;
    text-align: center;
    width: 70%;
    border-radius: 25px;
    padding: .5rem;
    border: 0;
    background-color: rgba(27, 43, 67, 0.1);
}

button{
    font-weight: bold;
    border-radius: 25px;
    color: white;
    background-color: #B4A4FC;
    padding: .3rem 1.5rem .3rem 1.5rem;
    border: 0;
}